name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: |
          npm i
          npm run build
      - name: Next Pages
        uses: anorcle/next-pages@v1.0
        with:
          outputDir: ./static
      - name: Commit and push changes
        run: |
          git config --global user.name "ClaytonTDM"
          git config --global user.email "claytontdm@clickette.net"
          git add -A
          git commit -m "New Build"
          git push
